*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #002339;
    color: white;
}
.head{
    margin: 12%;
    width: 90%;
    max-width: 600px;
  
}

.head button{
    margin: 10px auto 10px;
}

.head h1{
    width: 100%;
    height: auto;
    font-size: 40px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;

}

.head span{
    width: 100%;
    border-bottom: 1px solid white;
    color: chartreuse;
}

#input{
    width: 100%;
    margin: 50px 0 30px 0;
    background-color: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

#input #pass{
    border: 0;
    outline: 0;
    font-size: 24px;

}

#input i{
    font-size: 26px;
    margin-right: 10px;
    transition: 0.3s;
}

button{
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    border-radius: 10px;
    transition: 0.9s;
    border:1px solid white;
  
}

button:hover{
    box-shadow: 3px 2px 6px whitesmoke,  -30px -30px 2px rgba(0, 0, 0, 0.47);
    scale: 1.2rem;
}

#input i:hover{
    box-shadow: 2px 1px 2px #002339;

    cursor: pointer;
}