*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background: linear-gradient(90deg, rgba(0, 255, 204, 0.74), rgb(255, 0, 162));
}

.container{
    width: 660px;
    margin-top: 100px;
    box-shadow: -5px -3px 60px white;
    border-radius: 20px;
    background:linear-gradient(45deg, rgb(238, 130, 238), rgb(0, 255, 255));

}

.row{
    width: 100%;
}

.col-md-10{
    text-align: center;
    margin: 50px auto 30px ;
    width: 100%;
}

h1, h2{
    font-size: 32px;
    width: 100%;
    font-weight: 500;
}

input{
    width: 60%;
    height: 47px;
    border-radius: 30px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 400;
    border: 0;
    box-shadow: -5px -3px 60px white;
    outline:2px solid bisque;
}

button{
    width: 30%;
    height: 47px;
    border-radius: 30px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 400;
    background: #222;
    color: white;
    border: 0;
    box-shadow: 5px 3px 9px white;
}

#age{
    text-align: center;
    border: 0;
    font-size: 25px;
    font-weight: 500;
    color: black;
}